#/etc/systemd/system/torrent-netns.service

[Unit]
Description=Torrent network namespace
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/torrent-netns.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target