[Unit]
Description=Dynamic Router for VMs
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c "/sbin/iptables-restore < /etc/iptables/rules.v4"
ExecStart=/usr/local/bin/dynamic-router.sh
Restart=on-failure
RestartSec=5
User=root
Environment=PATH=/usr/bin:/bin

[Install]
WantedBy=multi-user.target
